.not-found-background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("./notfound.jpg");
}

.not-found-text {
  position: absolute;
  width: 25%;
  height: 25%;
  top: 20%;
  left: 40%;
  color: white;
  font-size: 150%;
  text-align: justify;
}

@media (max-width: 767px) {
  .not-found-text {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 30%;
    font-size: 90%;
    color: white;
    text-align: justify;
  }
}
