.toolbar-title-spacer {
  flex: 1 1 auto;
}

.toolbar-link-spacer {
  padding: 0 14px;
}

.link {
  color: black;
}

.toolbar {
  position: fixed;
}

.animated-toolbar {
  position: fixed;
  animation-name: toolbar-animation;
  animation-duration: 4s;
}

@keyframes toolbar-animation {
  0% {background-color: black};
  50% {background-color: white};
  100% {background-color: black};
}
