.home-background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("./lb.jpg");
}

.home-text {
  position: absolute;
  width: 25%;
  height: 25%;
  top: 10%;
  left: 70%;
  color: white;
  font-size: 150%;
  text-align: justify;
}

@media (max-width: 1500px) {
  .home-text {
    position: absolute;
    width: 30%;
    height: 30%;
    top: 10%;
    left: 5%;
    font-size: 90%;
    color: white;
    text-align: justify;
  }
}
